// DEFAULT STYLES: for mobile. media queries are for larger screens

.Settings_Menu {
	display: flex;
	flex-wrap: wrap;
	font-size: .9rem;
	gap: .5rem 1rem;
	place-content: center;
}

.Settings_Container {
	display: flex;
	justify-content: center;
	font-size: .9rem;
}

.Settings_Data {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	margin-top: 5rem;
	width: 100%;
}

.tab {
	padding: .25rem .5rem;
	cursor: pointer;
	transition: 200ms;
	border-radius: .25rem;
}

.tab:hover {
	background: rgb(58, 58, 58);
}

.currentTab {
	background: #4b4b4b;
}

.input {
	border: none;
	padding: .25rem 1rem;
	display: block;
	width: 100%;
}

.hoverHighlight {
	padding: .25rem 0;
	width: 100%;
	height: auto;
}

.hoverHighlight:hover {
	background: #222222;
}

.input::placeholder {
	align-self: center;
}

.Save_Button {
	margin-top: 0.5rem;
	background-color: #878484;
	color: white;
	font-weight: 100;
	padding: .25rem 2rem;
}

.Read_Only_Label {
	font-weight: 700;
}

.Read_Only_Field {
	margin-top: 0.5rem;
	color: white;
	font-weight: 400;
}

.settingsItemContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Settings_Checkbox_Container {
	display: flex;
    justify-content: flex-start;
	gap: .25rem;
	font-size: .85rem;
	font-weight: 600;
}

.FirstName_LastName_Container {
	gap: 1rem;
}

.fullWidth {
	flex-basis: 100%;
}

.label {
	margin-bottom: .5rem;
	margin-top: .5rem;
	display: block;
	font-weight: 600;
}

.Settings_Profile_Picture {
	border-radius: 50%;
	background-color: #4b4b4b;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	font-size: 3rem;
	aspect-ratio: 1 / 1;
	width: 6rem;
	height: 6rem;
}

.Edit_Icon {
	position: absolute;
	width: 2.1rem;
	opacity: 0.5;
	display: none;
	transition: 200ms;
}

.Settings_Profile_Picture:hover {
	.Edit_Icon {
		display: inline;
	}
}

.Warning_Button {
	background-color: rgb(181, 28, 28);
	border: none;
	padding: .25rem 1.5rem;
	font-weight: 100;
	color: #ffffff;
	display: flex;
}

.Close_Account_Button_Container {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.Settings_Checkbox {
	height: 1rem;
	width: 1rem;
	align-self: center;
}

.Checkbox_Label {
	align-self: center;
}

.Close {
	cursor: pointer;
	border-radius: 1rem;
	padding: .125rem;
}

.Close:hover {
	background: grey;
}

.ItemsFlex {
	display: flex;
	justify-content: space-between;
	gap: .5rem;
	align-items: center;
}

.LowProfileButton {
	background: rgb(215, 215, 215);
}

.LowProfileButton:hover {
	background: white;
}

// MEDIA QUERIES

@media(max-width: 640px) {
	.ItemsFlex {
		flex-direction: column;
	}
}

@media (min-width: 640px) {
	.FirstName_LastName_Container {
		display: flex;
	}
	.tab {
		padding: .25rem 1rem;
	}
}

@media (min-width: 768px) {
	.settingsItemContainer {
		width: 100%;
		gap: 1rem;
		flex-direction: column;
	}

	.Settings_Data {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 5rem;
		margin-top: 5rem;
		width: 100%;
	}

	.Settings_Profile_Picture {
		align-self: self-start;
	}
	.tab {
		padding: .25rem 1.5rem;
	}
}
