.survey {
	&__container {
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		.item {
			padding: 1rem;
			transition: 350ms;
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.currentItem {
			left: 0;
		}
		.nextItem, .animatingBackCurrent {
			left: 100%;
		}
		.animatingNextCurrent, .backItem {
			left: -100%;
		}
		.animatingNextNext, .animatingBackBack {
			left: 0;
		}
		.keepCurrent {
			transition: none;
		}
		.backToOriginal {
			left: 0;
		}
		.backButton {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
		button {
			border-radius: 1rem;
		}
		input {
			background: #373737;
			border: 1px solid white;
			color: white;
			border-radius: .5rem;
		}
	}
	
	&__title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__optionsList {
		list-style: none;
		padding: 0;
	}

	&__optionButton {
		background-color: #007bff;
		color: #fff;
		padding: 10px 20px;
		margin: 5px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #0056b3;
		}
	}

	&__confirmButton {
		background-color: #28a745;
		color: #fff;
		padding: 10px 20px;
		margin-top: 20px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #1f832d;
		}
	}
}

.numberInput {
	font-size: 1.5rem;
}

.textInput {
	width: 100%;
	border-radius: .5rem;
}