@import '/styles/supporting/Color.module.scss';

.container {
    position: fixed;
    padding-bottom: .25rem;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    z-index: 100;
    height: 35px;
}

.containerClosed {
    padding-bottom: 0rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 0;
    gap: .5rem;
    padding-top: .35rem;
    padding-bottom: .35rem;

    li {
        text-align: center;
        line-height: 1.88rem;
    }

    .menuLink {
        border-radius: .25rem;
        box-shadow: inset 0 0 7.5px #5c5c5c;
        background: rgba(0,0,0,0) !important;
        border: 1px solid grey;
        width: 100%;
        transition: 100ms;
        cursor: pointer;
        padding: 0 .5rem;
        line-height: 1.5rem;
        height: fit-content;
        
        .menuLinkIcon, .menuLinkText {
            display: none;
            font-weight: 600;
        }
        .menuLinkIcon {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        .menuLinkText {
            font-size: .75rem;
            font-family: 'Larsseit', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
        }

        @media(min-width: 569px) {
            .menuLinkText {
                display: block;
            }
        }

        @media(min-width: 641px) {
            .menuLinkText {
                font-size: .8rem;
            }
            .menuLinkIconPair {
                display: block !important;
            }
            .menuLinkText {
                display: flex;
            }
        }

        @media(min-width:569px) and (max-width: 640px) {
            .stillShow {
                display: block;
            }
        }

        @media(max-width: 568px) {
            .menuLinkIcon {
                display: block;
            }
        }

        span {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            width: -webkit-fill-available;
            display: block;
        }
    }

    .menuLink .menuLinkIcon {
        color: grey;
    }

    .menuLink:hover .menuLinkIcon {
        color: lightgrey;
    }


    @media(max-width: 680px) {
        .menuLink {
            padding: 0 .25rem;
        }
    }

    .menuLink:hover {
        background: rgb(35, 35, 35, 1) !important;
        border: 1px solid white;
    }
}

.menuLinkIconPair {
    display: none;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    padding-left: 0.125rem !important;
    margin-right: -3px !important;
    color: grey;
    transition: 100ms;
}

.menuLinkIconNoText {
    padding-left: 0 !important;
    margin-right: 0 !important;
}

.menuLinkText:hover .menuLinkIconPair {
    color: lightgrey;
}

.menuClosed {
    height: 0px;
}

.noTopPadding {
    padding-top: 0;
    padding-bottom: 0;
}

.subMenu {
    display: flex;
    gap: .75rem;
    padding-top: .125rem;
    padding-bottom: .125rem;

    .subMenuItemContainer, span {
        display: flex;
        align-items: center;
        gap: .15rem;
        border: 1px solid transparent;
        padding: .05rem .3rem;
        cursor: pointer;
        text-decoration: none;
        border-radius: .125rem;
        height: 25px;

        .itemName {
            padding-bottom: .5px;
            font-size: .8rem;
            font-weight: 600;
            color: white;
        }
    }

    .subMenuItemContainer:hover, a:hover {
        .itemName, .subMenuItem {
            color: lightgrey;
        }
    }
    
    .subMenuItem {
        font-size: 1.125rem;
        transition: 100ms;
        cursor: pointer;
        color: grey;
        height: 20px;
    }

    .subMenuItem:hover {
        color: lightgrey;
    }
}

.subMenuItemContainer:hover {
    border: 1px solid grey;
    

    .itemName {
        color: $background-darker-grey4;
    }
    .subMenuItem {
        color: $background-darker-grey4;
    }
}

.subMenuBottomPadding {
    padding-bottom: .125rem;
}

@media(max-width: 740px) {
    .subMenu {
        gap: .1rem;
        justify-content: space-between;
    }
}

@media(max-width: 640px) {
    .subMenu {
        gap: .05rem;
        justify-content: space-between;
    
        .subMenuItemContainer {
            padding: .025rem .15rem;
            .subMenuItem {
                font-size: 1rem;
            }
            .itemName {
                font-size: .75rem;
            }
        }
    }
}

@media(max-width: 540px) {
    .subMenu {
        gap: .2rem;
        .subMenuItemContainer {
            .subMenuItem {
                font-size: 1.5rem;
            }
        }
    }
    .itemName {
        display: none;
    }
}

@media (max-width: 480px) {
    .subMenu {
        .subMenuItem {
            font-size: 2.35rem;
        }
    }
}