# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next.zip
.env
env.local
credentials.js
daemonclients
pulls3buildpublic
app.config.js
tycoon-client-modules-dist
tycoon-client-modules-dist/*
src/styles/styles.scss
src/styles/custom
src/styles/custom/*
!*/customModules/features/FeatureModule1.js
/customModules/index.js
!*/customModules/index_backup.js
customModules/*
!*customModules/middleware
customModules/middleware/*
!*customModules/middleware/Middleware_backup.js
!*customModules/middleware/index.js
public/font/internal
public/img/internal
public/doc/internal
!*public/img
!*public/doc
public/favicon.ico
/public/doc/internal/*
/public/font/internal/*
!*public/img
public/favicon.ico
styles/styles.scss
styles/appstyles/*
.next.tar.gz
public.tar.gz
servebuild.bat
.next.tar.gz
