.leadContainer {
    max-width: 100%;
    .container {
        position: relative;
        width: 100%;
        outline: 1px solid transparent;
        transition: 200ms;
        cursor: pointer;
        
        .ghostVideoContainer {
            // background-color: white;
            height: 100%;
            width: 100%;
            position: absolute;
            margin: 0px 0px 0px 0px;
            z-index: 2;
            transition: 200ms;
        }
        /* use setTimeout and mouseover instead to delay */
        .ghostVideoContainerActive:hover {
            width: 125%;
            margin-left: -12.5%;
            height: 125%;
            margin-top: -6.25%;
        }

        @media(max-width: 1148px) {
            .ghostVideoContainerActive:hover {
                width: 112.25%;
                margin-left: -6.25%;
                height: 112.25%;
                margin-top: -3.125%;
            }
        }
    }
    .container:hover {
        outline: 2.5px solid grey;
    }
    .metaContainer {
        padding-top: .5rem;
    }
}

.editFlagContainer {
    position: absolute;
    right: .5rem;
    top: 0.35rem;
    cursor: pointer;

    .editFlag {
        padding-left: 0.25rem;
        font-size: 1.0625rem !important;
    }
}