.IndexBgContainer {
    position: relative;
    margin-bottom: 1rem;
    .BgContainer::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(transparent 30%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .3) 75%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 100%);
    }
    .BgUpperContainer::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(206deg, transparent 0%, transparent 35%, rgba(0, 0, 0, .2) 55%, rgba(0, 0, 0, .7) 70%, rgba(0, 0, 0, 1) 80%, rgb(0, 0, 0) 100%);
    }
    .FillPageContainer {
        gap: 1rem;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        position: relative;
        .TimeSectionValue, .TimeSectionColon {
            font-size: 11rem;
            line-height: 10rem;
        }
        .TimeSectionLabel {
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        .TimeSection {
            width: 145px;
        }
        @media(max-width: 1080px) {
            .DataContainer {
                top: 30%;
            }
            .TimeContainer {
                top: 5%;
                left: 10%;
            }
            .TimeSection {
                width: 90px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 7rem;
                line-height: 6rem;
            }
            .TimeSimple {
                justify-content: left;
                font-size: .85rem;
            }
        }
        
        @media(max-width: 540px) {
            .DataContainer {
                top: 25%;
            }
            .TimeSection {
                width: 50px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 3.5rem;
            }
        
            .TimeSectionValue {
                line-height: 2.5rem;
            }
        }
        .DataContainer {
            position: absolute;
            top: 37.5%;
            left: 10%;
            z-index: 20;
            .AuthorContainer {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
            .IconContainer {
                img {
                    border: 1px solid transparent;
                    cursor: pointer;
                }
                img:hover {
                    border: 1px solid grey;
                }
            }
            .Author {
                font-size: 2rem;
                font-weight: 600;
            }
            .Lead {
                margin-top: 1rem;
                font-size: 4rem;
                font-weight: 700;
                max-width: 70vw;
                width: 1200px;
                line-height: 3.75rem;
                margin-bottom: .5rem;
            }
            .Description {
                padding: .75rem;
                background: rgba(0, 0, 0, .75);
                font-size: .9rem;
                line-height: 1.25rem;
                font-weight: 700;
                max-width: 60vw;
                margin-bottom: 1rem;
            }
            .CtaButton {
                font-size: 1rem;
                padding: .75rem 3rem;
            }
            @media(max-width: 1080px) {
                .Author {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
                .Lead {
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
                .Description {
                    font-size: .75rem;
                    line-height: 1rem;
                }
            }
            @media(max-width: 540px) {
                .Author {
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                }
                .Lead {
                    font-size: 2.25rem;
                    line-height: 2.25rem;
                }
            }
        }
        .TimeContainer {
            position: absolute;
            top: 12.5%;
            right: 15%;
            z-index: 20;
        }
    }
}

.IndexHelloContainer {
    margin: 0 1rem;
    margin-bottom: 1rem;
    // opacity: 0;
    // transition: 200ms;
    .GlideTrack {
        max-width: 1800px;
        margin: 0 auto;
    }
    .IndexItemsContainer {
        .IndexItemUpperContainer {
            max-height: 325px;
            width: calc(25% - .375rem);
            margin-left: 5px;
            margin-right: 5px;
            .BgContainer {
                height: 225px;
                border-radius: .5rem;
                width: inherit;
                outline: 2px solid transparent;
                .FillPageContainer {
                    .TimeContainer {
                        position: relative;
                        .TimeSimple {
                            position: absolute;
                            right: .5rem;
                            top: .5rem;
                        }
                    }
                }
            }
            .BgContainerTall {
                height: 575px;
            }
            @media(max-height: 695px) {
                .BgContainerTall {
                    height: calc(90vh - 100px);
                }
            }
            .BgContainer:hover {
                outline: 2px solid grey;
                outline-offset: -2px;
            }
            .MetaContainer {
                display: flex;
                gap: .5rem;
                .IconContainer {
                    margin-top: 1rem;
                    img {
                        border: 1px solid transparent;
                        cursor: pointer;
                    }
                    img:hover {
                        border: 1px solid grey;
                    }
                }
            }
            .DataContainer {
                margin-top: 1rem;
                width: 100%;
                .Lead {
                    white-space: break-spaces;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .Author {
                    margin-top: .5rem;
                    font-size: .9rem;
                }
                .CtaHolder {
                    position: relative;
                }
                .CtaButton {
                    position: absolute;
                    right: 0;
                    padding: .125rem .5rem;
                    font-size: .8rem;
                }
            }
        }
        .IndexItemsUpperContainerTall {
            max-height: 675px;
        }
        @media (max-height: 695px) {
            .IndexItemsUpperContainerTall {
                max-height: 90vh;
            }
        }
        .IndexItemUpperContainer:first-child {
            margin-left: 0px;
        }
        .IndexItemUpperContainer:last-child {
            margin-right: 0px;
        }
    }
}

.DatePassed {
    color: red;
    background: black;
    text-decoration: line-through;
}

.BgContainer {
    background-position: center;
    background-size: cover;
    
}

.BgUpperContainer {
    white-space: pre-wrap;
    position: relative;
}

.TimeCountdown {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    opacity: 0;
    transition: 200ms;
}
.TimeCountdownVisible {
    opacity: 1;
}

.TimeSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.TimeSectionDay {
    width: fit-content;
}

.TimeSectionColon {
    margin-top: -1rem;
}

.GroupLabelContainer {
    max-width: 1800px;
    margin: 0 auto;
    .GroupLabel {
        font-weight: 600;
        margin-bottom: .5rem;
    }
}

.TimeSimple {
    display: flex;
    justify-content: right;
    div {
        background: rgba(0, 0, 0, 0);
        padding: 0 .5rem;
        width: fit-content;
        transition: 200ms;
    }
}

.TimeSimple:hover {
    div {
        background: rgba(0, 0, 0, 1);
    }
}

.CtaButton {
    border-radius: .5rem;
}

.SliderBulletsContainer {
    position: absolute;
    bottom: 10vh;
    left: calc(50% - 150px);
    width: 300px;
    z-index: 20;
    .SliderBullets {
        display: flex;
        gap: .5rem;
    }
}

.SliderBullet {
    padding: .175rem 0;
    width: -webkit-fill-available;
    opacity: .25;
    border-radius: 1rem;
}

.SliderBullet:hover {
    opacity: 1;
}
