.IndexBgContainer {
    position: relative;
    margin-bottom: 1rem;
    .BgContainer::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .BgUpperContainer::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .FillPageContainer {
        gap: 1rem;
        height: 100vh;
        width: 100%;
        background-size: cover;
        position: relative;
        .TimeSectionValue, .TimeSectionColon {
            font-size: 11rem;
            line-height: 10rem;
            font-weight: 600;
        }
        .TimeSectionLabel {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
        }
        .TimeSection {
            width: 145px;
        }
        @media(max-width: 1080px) {
            .DataContainer {
                top: 30%;
            }
            .TimeContainer {
                top: 5%;
                left: 10%;
            }
            .TimeSection {
                width: 90px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 7rem;
                line-height: 6rem;
            }
            .TimeSimple {
                justify-content: left;
                font-size: .85rem;
            }
        }
        .DataContainer {
            position: absolute;
            top: 37.5%;
            left: 10%;
            z-index: 20;
            max-width: 70%;
            .AuthorContainer {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
            .IconContainer {
                min-width: 65px;
                img {
                    border: 1px solid transparent;
                    cursor: pointer;
                }
                img:hover {
                    border: 1px solid grey;
                }
            }
            .Author {
                font-size: 2rem;
                font-weight: 600;
            }
            .Lead {
                margin-top: 1rem;
                font-size: 4rem;
                font-weight: 700;
                max-width: 70vw;
                width: 1200px;
                line-height: 3.75rem;
                margin-bottom: 1rem;
            }
            .Description {
                padding: .75rem;
                background: rgba(0, 0, 0, .75);
                font-size: .9rem;
                line-height: 1.25rem;
                font-weight: 400;
                max-width: 60vw;
                margin-bottom: 1rem;
            }
            .CtaButton {
                font-size: 1rem;
                padding: .75rem 3rem;
            }
            @media(max-width: 1080px) {
                .Author {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
                .Lead {
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
                .Description {
                    font-size: .75rem;
                    line-height: 1rem;
                }
            }
            @media (max-width: 640px) {
                .Lead {
                    font-size: 2.25rem;
                }
                .CtaButton {
                    padding: .125rem 1rem;
                    font-size: .85rem;
                }
            }
            @media(max-width: 540px) {
                .Author {
                    font-size: 1.25rem;
                    margin-bottom: .5rem;
                }
                .Lead {
                    font-size: 1.75rem;
                    line-height: 2.25rem;
                }
            }
        }
        .TimeContainer {
            position: absolute;
            top: 12.5%;
            right: 15%;
            z-index: 20;
        }
        @media(max-width: 540px) {
            .DataContainer {
                top: 22.5%;
            }
            .TimeSection {
                width: 50px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 3.5rem;
            }
            .TimeContainer {
                top: 10%;
            }
            .TimeSectionValue {
                line-height: 2.5rem;
            }
        }
    }
}

.IndexHelloContainer {
    margin: 0 1rem;
    margin-bottom: 1rem;
    // opacity: 0;
    // transition: 200ms;
    .GlideTrack {
        max-width: 1800px;
        margin: 0 auto;
    }
    .IndexItemsContainer {
        .IndexItemUpperContainer {
            margin-left: 5px;
            margin-right: 5px;
            .BgContainer {
                border-radius: .5rem;
                width: inherit;
                outline: 2px solid transparent;
                .FillPageContainer {
                    .TimeContainer {
                        position: relative;
                        .TimeSimple {
                            position: absolute;
                            left: .5rem;
                            top: .5rem;
                        }
                    }
                }
            }
            .BgContainerTall {
                height: 575px;
            }
            @media(max-height: 695px) {
                .BgContainerTall {
                    height: calc(90vh - 100px);
                }
            }
            .BgContainer:hover {
                outline: 2px solid grey;
                outline-offset: -2px;
            }
            .MetaContainer {
                display: flex;
                gap: .5rem;
                .IconContainer {
                    min-width: 50px;
                    min-height: 50px;
                    margin-top: 1rem;
                    img {
                        border: 1px solid transparent;
                        cursor: pointer;
                    }
                    img:hover {
                        border: 1px solid grey;
                    }
                }
            }
            .DataContainer {
                margin-top: 1rem;
                width: 100%;
                .Lead {
                    white-space: break-spaces;
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin-bottom: .5rem;
                }
                .Author {
                    font-size: .9rem;
                    font-weight: 600;
                }
                .CtaHolder {
                    position: relative;
                    display: flex;
                    gap: .5rem;
                    justify-content: space-between;
                }
                .CtaButton {
                    padding: .25rem .5rem;
                    font-size: .8rem;
                }
            }
        }
        .IndexItemUpperContainer:not(.IndexItemsUpperContainerTall) {
            height: calc(11.25vw + 70px);
            min-height: 295px;
            max-height: 395px;
            .BgContainer {
                height: calc(10.25vw);
                min-height: 205px;
                max-height: 305px;
            }
        }
        .IndexItemsUpperContainerTall {
            max-height: 675px;
        }
        @media (max-height: 695px) {
            .IndexItemsUpperContainerTall {
                max-height: 90vh;
            }
        }
        @media (max-width: 1920px) {
            .IndexItemUpperContainer:not(.IndexItemsUpperContainerTall) {
                height: calc(12vw + 70px);
                min-height: 295px;
                .BgContainer {
                    height: calc(11vw);
                    min-height: 195px;
                }
            }
        }
        @media (max-width: 1680px) {
            .IndexItemUpperContainer:not(.IndexItemsUpperContainerTall) {
                height: calc(13vw + 70px);
                min-height: 275px;
                .BgContainer {
                    height: calc(11.5vw);
                    min-height: 185px;
                }
            }
        }
        @media (max-width: 1280px) {
            .IndexItemUpperContainer:not(.IndexItemsUpperContainerTall) {
                height: calc(23vw + 70px);
                min-height: 295px;
                max-height: 315px;
                .BgContainer {
                    height: calc(18vw);
                    min-height: 205px;
                }
            }
        }
        @media (max-width: 900px) {
            .IndexItemUpperContainer:not(.IndexItemsUpperContainerTall) {
                height: calc(30vw + 70px);
                min-height: 295px;
                .BgContainer {
                    height: calc(26vw);
                    min-height: 205px;
                    max-height: 225px;
                }
            }
        }
        @media (max-width: 570px) {
            .IndexItemUpperContainer:not(.IndexItemsUpperContainerTall) {
                min-height: 335px;
                .BgContainer {
                    min-height: 245px;
                }
            }
        }
        .IndexItemUpperContainer:first-child {
            margin-left: 0px;
        }
        .IndexItemUpperContainer:last-child {
            margin-right: 0px;
        }
    }
}

.IndexBgContainerMedium {
    min-height: 365px;
    height: calc(45vh + .25rem);
    .FillPageContainer {
        height: 45vh;
        min-height: 350px;
        .DataContainer {
            top: 10%;
            .Lead {
                max-width: 700px;
                margin-top: .25rem;
                margin-bottom: .25rem;
                font-size: 2.5rem;
                white-space: break-spaces;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                line-height: 2.5rem;
                -webkit-box-orient: vertical;
            }
            .Description {
                font-size: .85rem;
                padding: .25rem;
                max-width: 500px;
                line-height: 1rem;
                font-size: .8rem;
                white-space: break-spaces;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .Author {
                font-size: 1rem;
            }
            .IconContainer {
                min-width: 35px;
            }
            .CtaButton {
                font-size: .85rem;
                padding: .25rem 3rem;
            }
        }
        .TimeSection {
            width: 105px;
        }
        .TimeSectionValue {
            font-size: 8rem;
        }
        @media(max-width: 1670px) {
            .DataContainer {
                .Lead {
                    font-size: 2rem;
                    max-width: 450px;
                }
            }
        }
        @media(max-width: 1520px) {
            .TimeSection {
                max-width: 60px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 6rem;
                line-height: 5rem;
            }
        }

        @media(max-width: 1080px) {
            .TimeCountdown {
                justify-content: right;
            }
            .TimeSection {
                max-width: 25px;
            }
            .TimeSectionValue {
                font-size: 2.5rem;
                line-height: 2rem;
            }
            .TimeSectionColon {
                font-size: 2.5rem;
                line-height: 4rem;
            }
            .TimeSectionLabel {
                font-size: 1rem;
            }
            .TimeSimple {
                position: absolute;
                top: -20px;
                right: 0;
            }
        }
        @media (max-width: 800px) {
            .TimeSimple {
                top: -15.5px;
            }
            .TimeContainer {
                top: 10%;
            }
            .TimeSection {
                max-width: 15px;
            }
            .TimeSectionValue {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            .TimeSectionColon {
                font-size: 1.5rem;
                line-height: 4rem;
            }
            .TimeSectionLabel {
                font-size: .8rem;
            }
            .DataContainer {
                top: 20%;
                .Lead {
                    font-size: 1.25rem;
                    max-width: 60vw;
                    line-height: 1.5rem;
                }
                .Description {
                    font-size: .75rem;
                    max-width: 75vw;
                    margin-bottom: .5rem;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
            }
        }
    }
}

.DatePassed {
    color: red;
    background: black;
    text-decoration: line-through;
}

.BgContainer {
    background-position: center;
    background-size: cover;
    
}

.BgUpperContainer {
    white-space: pre-wrap;
    position: relative;
    border-radius: 1rem;
}

.TimeCountdown {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    opacity: 0;
    transition: 200ms;
}
.TimeCountdownVisible {
    opacity: 1;
}

.TimeSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.TimeSectionDay {
    width: fit-content;
}

.TimeSectionColon {
    margin-top: -1rem;
}

.GroupLabelContainer {
    max-width: 1800px;
    margin: 0 auto;
    .GroupLabel {
        font-weight: 600;
        margin-bottom: .5rem;
    }
}

.dateIconContainer {
    background: rgba(0, 0, 0, 0.5);
    border-radius: .75rem;
    text-align: center;
    text-align: -webkit-center;
    height: min-content;
}

.dateMetaContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    min-width: max-content;
}

.TimeShowContainer {
    margin: 0 .5rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.TimeSimple {
    display: flex;
    justify-content: right;
    font-weight: 600;
    transition: 200ms;
    background: rgba(0, 0, 0, 0);
    border-radius: 1rem;
    padding: .35rem 0;
    max-width: calc(100% - 1rem);
    .dateIconContainer {
        min-width: 40px;
        div {
            margin: 0 .125rem;
            padding: .125rem .25rem;
            width: fit-content;
        }
        .dateIconDate {
            line-height: .75rem;
            margin-bottom: 0.25rem;
        }
    }
}

.TimeSimple:hover {
    background: rgba(0, 0, 0, .5);
    .dateIconContainer {
        background: rgb(250, 250, 250);
        color: #000000;
    }
}

@media(max-width: 1080px) {
    .TimeSimple {
        display: none;
    }
}

.bubble {
    background: rgb(221, 255, 195);
    color: black;
    border-radius: 1rem;
}

.timeMeta {
    font-size: .75rem;
    .ticketIcon {
        padding: 0;
    }
}

.dateIconMonth {
    font-size: .7rem;
    padding-bottom: 0;
}

.CtaButton {
    border-radius: 1rem;
}

.SliderBulletsContainer {
    position: absolute;
    bottom: 7.5%;
    left: calc(50% - 150px);
    width: 300px;
    z-index: 20;
    .SliderBullets {
        display: flex;
        gap: .5rem;
    }
}

.SliderBullet {
    padding: .175rem 0;
    width: -webkit-fill-available;
    opacity: .25;
    border-radius: 1rem;
}

.SliderBullet:hover {
    opacity: 1;
}

.IndexBgContainer {
    .BgUpperContainer {
        overflow-x: hidden;
    }
    .FillPageContainerEvent {
        max-height: 75vh;
        .DataContainer {
            top: 45%;
        }
        .TimeSection {
            width: 195px;
        }
        @media(max-width: 1620px) {
            .TimeSection {
                width: 155px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 8.5rem;
                line-height: 7.5rem;
            }
            .TimeSectionLabel {
                font-size: 1rem;
            }
            .TimeSectionColon {
                line-height: 8.5rem;
            }
        }
        @media(max-width: 900px) {
            .TimeSection {
                width: 105px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 6rem;
                line-height: 5rem;
            }
            .TimeSectionLabel {
                font-size: .75rem;
            }
            .TimeSectionColon {
                line-height: 6rem;
            }
            .TimeSimple {
                justify-content: center;
            }
        }
        @media(max-width: 640px) {
            .TimeSection {
                width: 75px;
            }
            .TimeSectionValue, .TimeSectionColon {
                font-size: 3.5rem;
                line-height: 3.5rem;
            }
            .TimeSectionColon {
                line-height: 5rem;
            }
            .TimeSimple {
                display: none;
            }
        }
    }
    .FillPageContainerEvent:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, transparent 0%, transparent 75%, rgba(0, 0, 0, .2) 85%, rgb(0, 0, 0) 100%);
    }
    .SecondDataContainer {
        margin: 0 10%;
        max-width: 90vw;
        .Description {
            margin: 3rem 0;
            margin-bottom: 1.5rem;
        }
    }
}

.TimeSimpleInline {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.LineupLabel {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.LineupContainer {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    .LineupItem {
        max-width: 175px;
        .ParticipantLabel {
            font-size: 1rem;
            font-weight: 600;
            overflow-wrap: anywhere;
            white-space: break-spaces;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
        }
        .LineupItemTime {
            font-size: 1.25rem;
        }
        .LineupImageContainer {
            .LineupImageInternalContainer {
                border-radius: 10rem;
                height: 175px;
                background-size: cover;
                .LineupImage {
                    height: 175px;
                    width: 175px;
                }
            }
        }
    }
}

@media(max-width: 850px) {
    .LineupContainer {
        gap: 1rem;
        justify-content: space-between;
        .LineupItem {
            max-width: 100%;
            width: 200px;
            .LineupImageContainer {
                .LineupImageInternalContainer {
                    height: 200px;
                    .LineupImage {
                        height: 200px;
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media(max-width: 550px) {
    .LineupContainer {
        gap: 1rem;
        .LineupItem {
            max-width: 100%;
            width: 150px;
            .LineupImageContainer {
                .LineupImageInternalContainer {
                    height: 150px;
                    .LineupImage {
                        height: 150px;
                        width: 150px;
                    }
                }
            }
        }
    }
}

.BannerHello {
    margin: 0 1rem;
    margin-bottom: 1rem;
    .IndexBgContainerAd {
        min-height: 285px;
        height: calc(35vh + .25rem);
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        .TypeContainer {
            margin-left: 1rem;
            width: -webkit-fill-available;
            .TypeContainerEnforceSpace {
                height: 40vh;
            }
            .leadImgContainer {
                width: 100%;
                .leadImg {
                    width: 55%;
                    max-width: 600px;
                    min-width: 250px;
                }
            }
            .Lead {
                margin: 0;
                margin-bottom: .5rem;
                font-size: 6rem;
            }
            .Text {
                font-size: 1.25rem;
                word-wrap: break-word;
                max-width: -webkit-fill-available;
            }
            @media(max-width: 780px) {
                .Lead {
                    font-size: 5rem;
                }
                .Text {
                    font-size: 1rem;
                    word-wrap: break-word;
                    max-width: -webkit-fill-available;
                    margin-right: 1rem;
                }
            }
            @media(max-width: 640px) {
                .Lead {
                    font-size: 4rem;
                }
            }
        }
    }
    .IndexBgContainerCenter {
        .TypeContainer {
            text-align: center;
            margin-left: 0;
        }
    }
    .IndexBgContainerAdTall {
        min-height: 65vh;
    }
}

.sliderContainer {
    margin: 0 1.5rem;
}