.textChatInput {
    width: 100% !important;
    min-height: 25px;
    max-height: 45px;
    border-radius: .5rem;
}

.highlightBorder {
    border: 1px solid grey;
    outline: 2px solid transparent;
}

.highlightBorder:hover {
    border: 1px solid rgb(198, 198, 198);
    outline: 2px solid rgb(174, 174, 174);
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatLogExternalContainer,
.chatLogContainer {
    font-size: .9rem;
}

.chatLogExternalContainer {
    transition: 200ms;
    overflow: auto;
    flex-grow: 1;
}

.chatLogItemContainer {
    transition: 200ms;
    padding: 0 .5rem;
}

.chatLogItemContainerDonation {
    background: #2b2b2b;
    padding: 1rem .5rem;
}

.chatLogContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .25rem;
}

.chatLogContainerReplies {
    margin-top: 1.5rem;
}

.chatDonationItemContainer {
    position: relative;
}

.chatDonationsContainer {
    display: flex;
    gap: .5rem;
    padding: .5rem;
    overflow-x: auto;
    overflow-y: visible;
    height: 37.5px;
    min-height: 37.5px;
    .chatDonationItemText {
        z-index: 20;
        font-weight: 600;
        color: white;
    }
    .chatDonationItem {
        padding: 0 .25rem;
        border-radius: 1rem;
        position: relative;
        background: #333; /* Background color for the donation item */
        color: #fff; /* Text color */
        width: 100px;
        overflow: hidden;
        font-weight: 600;
        z-index: 25;
    }
    .chatDonationItem::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(90deg, rgba(208, 255, 0, .75) 0%, rgba(208, 255, 0, .75) 98%, transparent 99%, transparent 100%);
        width: 100%; /* Start with full width */
        transform-origin: left;
        transform: scaleX(var(--gradient-scale, 1)); /* Use scaleX for smooth transition */
        transition: transform var(--animation-duration) linear;
        z-index: 30;
    }
    @keyframes depleteGradient {
        from {
          background-position: 135% 0;
        }
        to {
          background-position: -50% 0;
        }
    }
}

.chatInputContainer {
    min-width: 350px;
    z-index: 5;
    display: flex;
    .chatInputInternalContainer {
        position: relative;
        width: 100%;
        .chatInputSendContainer {
            display: flex;
            gap: .25rem;
            z-index: 5;
            position: inherit;
            padding: .5rem;
            .send {
                padding: 0 .75rem;
                border-radius: .5rem;
            }
        }
        .chatWarningContainer {
            position: absolute;
            top: -3rem;
            background: rgba(0, 0, 0, .75);
            width: 100%;
            border-radius: .5rem;
            z-index: 5;
            padding: .5rem;
        }
    }
}

@media (max-width: 700px) {
    .forceHideChat {
        min-width: 0;
        display: none;
    }
}

.userContentContainerFlex {
    display: flex;
    gap: .25rem;
}

.userContentContainerFlexOff {
    flex-direction: column;
}

.warningText {
    text-align: center;
    font-weight: 600;
}

.warningBody {
    text-align: center;
}

.userDisplayContainer {
    padding: .2rem;
    position: absolute;
    background-color: black;
    border: 1px solid #2d2d2d;
    width: 349px;
    z-index: 100;
}

@media(max-width: 900px) {
    .chatInputContainer {
        min-width: 300px;
    }
    .userDisplayContainer {
        width: 299px;
    }
}

@media(max-width: 700px) {
    .userDisplayContainer {
        width: 99.9%;
    }
}

.chatLogMain {
    align-items: center;
    display: flex;
    gap: .25rem;
    position: relative;
    transition: 200ms;
    .replyTo, .viewReplyTo {
        display: none;
        position: absolute;
        right: .5rem;
        top: -.45rem;
        padding: 0 .125rem;
        background: grey;
        border-radius: .25rem;
        cursor: pointer;
    }
    .viewReplyTo {
        right: 2.25rem;
    }
    .replyMeta {
        display: none;
        position: absolute;
        background: black;
        top: -2rem;
        right: .25rem;
        max-width: 250px;
        border: 1px solid grey;
        padding: .25rem;
        border-radius: .5rem;
        font-size: .75rem;
    }
}

.chatLogItemContainer:hover,
.replyToRepliesThread:hover {
    background-color: #121212;
    .replyTo, .viewReplyTo {
        display: block;
        svg {
            height: 18.5px;
            width: 18.5px;
        }
    }
    .replyMeta {
        display: block;
    }
}

.chatMessageAvatarContainer {
    height: 30px;
    img {
        height: 30px;
    }
}

.username {
    font-weight: 600;
    height: 1rem;
    color: #ababab;
}

@-moz-document url-prefix() {
    .username {
        height: auto;
    }
}

.usernameChat:hover {
    cursor: pointer;
    background: rgb(60, 60, 60);
}

.close {
    position: absolute;
    top: 0;
    right: .25rem;
    cursor: pointer;
}

.replyToContainer {
    color: white;
    position: relative;
    width: 100%;
    border-radius: .25rem .25rem 0 0;
    border: 1px solid #2d2d2d;
    border-bottom: none;
    padding: .25rem .25rem;
    background: black;
    font-size: .85rem;
    z-index: 3;
}

.replyToRepliesContainer {
    display: flex;
    overflow: auto;
    gap: 0;
    flex-direction: column;
    top: -4.5rem;
    width: 100%;
    padding: .25rem;
    background: #1c1c1c;
    z-index: 2;
    max-height: 100px;
    border: 1px solid #2d2d2d;
    border-radius: .25rem .25rem 0 0;
    font-size: .85rem;
}

.chatCancelReplyTo {
    position: absolute;
    right: .5rem;
    top: .25rem;
    cursor: pointer;
}

.highlightedChat {
    background: #181818;
    border: 1px solid #4f4f4f;
    box-shadow: 0px 0px 7.5px #999999;
    height: 45px;
    padding: .5rem;
    place-items: center;
}

.threadLabel {
    position: absolute;
    z-index: 10;
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: .75rem;
    padding: .075rem 1rem;
    border-radius: .25rem;
    max-width: fit-content;
    font-style: italic;
    color: rgb(208, 208, 208);
    background-color: #000000;
    transition: 200ms;
}

.threadLabel:hover {
    background-color: #4f4f4f;
    color: white;
}

.mobileChatLogExternalContainer {
    height: 10vh;
}

.blockSend {
    background: black;
}
.chatActionBar {
    .quickDonateContainer {
        display: flex;
        padding: .5rem;
        gap: .5rem;
        justify-content: space-between;
        input {
            color: white;
            background: transparent;
        }
        button {
            padding: 0.25rem .5rem;
            color: white;
            background: transparent;
        }
        button.favorite {
            color: #ff0000;
        }
    }
}

.squeezedInput {
    transition: 200ms;
    width: 42.5px;
}

.promptCheckoutContainer {
    position: absolute;
    padding: .5rem;
    bottom: -100px;
    z-index: 15;
    background: #161616;
    width: 100%;
    height: 0px;
    left: 0;
    transition: 200ms;
    .promptChatMessage {
        text-align: center;
    }
}

.promptCheckoutContainerVisible {
    height: 200px;
    bottom: 0;
}

.Close {
    cursor: pointer;
}

.chatLayoutContainer {
    height: 100%;
}

.reactionExternalContainer {
    position: relative;
}