.textChatInput {
    width: 100% !important;
    min-height: 45px;
    max-height: 45px;
    border-radius: .5rem;
}

.highlightBorder {
    border: 1px solid grey;
    outline: 2px solid transparent;
}

.highlightBorder:hover {
    border: 1px solid rgb(198, 198, 198);
    outline: 2px solid rgb(174, 174, 174);
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatLogExternalContainer,
.chatLogContainer {
    font-size: .9rem;
}

.chatLogExternalContainer {
    transition: 200ms;
    overflow: auto;
    padding: 0 .25rem;
    height: calc(100% - 45px);
}

.chatLogContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chatInputContainer {
    min-width: 350px;
    z-index: 5;
    .chatInputInternalContainer {
        position: relative;
        .chatInputSendContainer {
            display: flex;
            gap: .25rem;
            padding: 0 .2rem;
            z-index: 5;
            position: inherit;
            margin-bottom: .25rem;
            .send {
                padding: 0 .75rem;
                border-radius: .5rem;
            }
            .chatWarningContainer {
                position: absolute;
                top: 0rem;
                background: rgba(0, 0, 0, .5);
                width: 100%;
                height: 100%;
                border-radius: .5rem;
                z-index: 5;
                padding: .5rem;
            }
        }
    }
}

.warningText {
    text-align: center;
    font-weight: 600;
}

.warningBody {
    text-align: center;
}

.userDisplayContainer {
    padding: .2rem;
    position: absolute;
    background-color: black;
    border: 1px solid #2d2d2d;
    width: 349px;
    z-index: 5;
}

@media(max-width: 900px) {
    .chatInputContainer {
        min-width: 300px;
    }
    .userDisplayContainer {
        width: 299px;
    }
}

@media(max-width: 700px) {
    .chatLogExternalContainer {
        height: calc(100vh - 445px);
    }
    .userDisplayContainer {
        width: 99.9%;
    }
}

.chatLogMain {
    align-items: baseline;
    display: flex;
    gap: .25rem;
    position: relative;
    transition: 200ms;
    .replyTo, .viewReplyTo {
        display: none;
        position: absolute;
        right: .5rem;
        top: -.45rem;
        padding: 0 .125rem;
        background: grey;
        border-radius: .25rem;
        cursor: pointer;
    }
    .viewReplyTo {
        right: 2.25rem;
    }
    .replyMeta {
        display: none;
        position: absolute;
        background: black;
        top: -2rem;
        right: .25rem;
        max-width: 250px;
        border: 1px solid grey;
        padding: .25rem;
        border-radius: .5rem;
        font-size: .75rem;
    }
}

.chatLogMain:hover,
.replyToRepliesThread:hover {
    background-color: #121212;
    .replyTo, .viewReplyTo {
        display: block;
        svg {
            height: 18.5px;
            width: 18.5px;
        }
    }
    .replyMeta {
        display: block;
    }
}

.username {
    font-weight: 600;
    height: .65rem;
}

@-moz-document url-prefix() {
    .username {
        height: auto;
    }
}

.usernameChat:hover {
    cursor: pointer;
    background: rgb(60, 60, 60);
}

.close {
    position: absolute;
    top: 0;
    right: .25rem;
    cursor: pointer;
}

.replyToContainer {
    color: white;
    width: 100%;
    border-radius: .25rem .25rem 0 0;
    border: 1px solid #2d2d2d;
    top: -1.25rem;
    padding: 0 .25rem;
    position: absolute;
    background: black;
    height: 175px;
    font-size: .85rem;
    z-index: 3;
}

.replyToRepliesContainer {
    display: flex;
    gap: 0;
    flex-direction: column;
    position: absolute;
    top: -4.5rem;
    width: 100%;
    padding: .25rem;
    background: #1c1c1c;
    z-index: 2;
    height: 250px;
    border: 1px solid #2d2d2d;
    border-radius: .25rem .25rem 0 0;
    font-size: .85rem;
}

.chatCancelReplyTo {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.highlightedChat {
    background: #181818;
    border: 1px solid #4f4f4f;
    box-shadow: 0px 0px 7.5px #999999;
    height: 45px;
    padding: .5rem;
    place-items: center;
}

.threadLabel {
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: .75rem;
    padding: .125rem 1rem;
    border-radius: .25rem;
    max-width: fit-content;
    font-style: italic;
    color: rgb(208, 208, 208);
    background-color: #000000;
    transition: 200ms;
}

.threadLabel:hover {
    background-color: #4f4f4f;
    color: white;
}

.mobileChatLogExternalContainer {
    height: 10vh;
}