

.cta {
    margin-bottom: .5rem;
}

.heading {
    margin-top: .25rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.textOffsetContainer {
    top: 1rem;
    position: absolute;
    left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.status {
    background: red;
    width: min-content;
    border-radius: .5rem;
    padding: .125rem .5rem;
    font-size: .8rem;
}

.container2 {
    display: flex;
    gap: 1rem;
}