@import "supporting/SignInPage.css";
@import "supporting/Cta.css";
@import "supporting/Username.css";
@import "supporting/ProfilePage.css";
@import "supporting/Item.css";
@import "supporting/AdminPanel.css";
@import "supporting/Product.css";
@import "supporting/Ecommerce.scss";

html {
    background: black;
}

body {
    color: white;
}

.display-none {
    display: none;
}

.pointer {
    cursor: pointer;
}

button {
    cursor: pointer;
    padding: 0.125rem 1.5rem;
    border: none;
    background: white;
    font-weight: 600;
    position: relative;
    bottom: 0px;
    transition: 200ms;
    border: 1px solid transparent;
}

button.simpleBtn:not(:disabled):hover {
    background: rgb(239, 239, 239);
    box-shadow: 0px 0px 15px 0px grey;
}

button:not(:disabled):hover {
    color: lightgrey;
    background: rgb(35, 35, 35, 1) !important;
    // border: 1px solid white;
    outline-offset: -2px;
    outline: 1px solid white;
}

button:not(:disabled):active {
    background: black;
    color: white;
    box-shadow: 0px 0px 15px 0px black;
}

@keyframes glowing {
    0% {
      box-shadow: 0 0 2px 0px #fff;
    }
    50% {
      box-shadow: 0 0 2.5px 0px #fff, 0 0 20px 0px #fff, 0 0 2.5px 0px #fff;
    }
    100% {
      box-shadow: 0 0 2px 0px #fff;
    }
}

.error {
    cursor: pointer;
    background: #ff6d6d;
    padding: .125rem;
    border: 2px solid #ff1c1c;
    border-radius: .5rem;
    font-size: .85em;
    text-align: center;
}

.ButtonGlowing {
    animation: glowing 3.5s infinite;
}

.importantPrompt {
    text-align: center;
    background: black;
    border: 2px solid grey;
    box-shadow: 0px 0px 15px 0px grey;
    font-weight: 600;
    padding: .25rem;
}

.flex {
    display: flex;
}

.gap-p5 {
    gap: .5rem;
}

.gap-p2 {
    gap: .2rem;
}

.gap-p3 {
    gap: .3rem;
}

.simpleTextInput {
    border: none;
    height: 20px;
}

.simpleTextInput~button {
    height: 20px;
    padding: .0rem 1rem;
}

.LiveTag {
    position: absolute;
    padding: 0.25rem .25rem .125rem .25rem;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    gap: 0.25rem;
    background: grey;
    margin: 0.25rem;
    border-radius: 0.25rem;
}

.darkMode, .darkMode .darkModeEnforce {
    background: black;
    color: white;
}
  
.darkMode .darkModeEnforce .itemName {
    color: white !important;
}
  
.darkMode .darkModeHoverEnforce:hover,
.darkMode .darkModeHoverEnforce:hover div {
    color: lightgrey !important;
}
  
.darkMode .darkMenuLink {
    background: rgba(0,0,0,0) !important;
    border: 1px solid grey;
}
  
.darkMode .darkMenuLink:hover {
    background: rgb(35, 35, 35, 1) !important;
    border: 1px solid white;
}

.margin1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.leadMenuContainer~div {
    position: relative;
    top: 35px;
}

.dropMenu {
    position: absolute;
    right: 0;
    top: 33px;
    width: 200px;
}

.dropMenu ul {
    list-style: none;
    padding-left: 0;
    background: #313131;
}

.dropMenu ul li {
    text-align: right;
    padding: 0rem .5rem;
    font-size: .85rem;
    cursor: pointer;
}

.dropMenu ul li:hover {
    background: #363636;
}

.options button {
    border-radius: .25rem;
}

.heading {
    padding-left: 2rem;
    font-size: .78rem;
    padding-bottom: .25rem;
    opacity: .4;
    height: 10px;
    bottom: 10px;
    position: relative;
}

.dropdown_input {
    position: relative;
    width: 200px;
}

.dropdown_input select {
    width: 100%;
}

.dropdown_input > * {
    box-sizing: border-box;
    height: 1.7em;
}

.dropdown_input input {
    position: absolute;
    width: calc(100% - 20px);
}

.promptContainer {
    background: #4b4b4b;
    padding: .09rem .5rem;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
}

.tagContainer .tagItem {
    background: #ffffff;
    color: black;
    border-radius: .5rem;
    padding: .075rem .5rem;
    font-weight: 600;
    font-size: .8rem;
}

.fetchNotBusy {
    height: 0%;
    transition: 200ms;
    display: none;
}

.fetchBusy {
    display: block;
    z-index: 500;
    height: -webkit-fill-available;
    background: grey;
    width: -webkit-fill-available;
    position: absolute;
    opacity: .5;
}

.fetchBusy100 {
    height: 100vh;
}

.slide_hide {
    height: 20px;
    overflow: hidden;
}

.slide_hide .hover_show {
    height: 25px;
    transition: 200ms;
}

.slide_hide:hover .hover_show {
    height: 0px;
    overflow: hidden;
}

.slide_hide_do_full_show:hover {
    height: 100%;
}

.slide_hide_visible {
    height: 100%;
}

.marquee {
    animation: marquee 15s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    70% { transform: translate(-85%, 0); }
    71%   { transform: translate(0%, 0); }
}