@import "supporting/SignInPage.css";
@import "supporting/Cta.css";
@import "supporting/Username.css";
@import "supporting/ProfilePage.css";
@import "supporting/Item.css";
@import "supporting/AdminPanel.css";

html {
    background: black;
}

body {
    color: white;
}

.display-none {
    display: none;
}

.pointer {
    cursor: pointer;
}

button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    background: white;
    font-weight: 600;
    position: relative;
    bottom: 0px;
    transition: 200ms;
}

button.simpleBtn:hover {
    background: rgb(239, 239, 239);
    box-shadow: 0px 0px 15px 0px grey;
}

button:active {
    background: black;
    color: white;
    box-shadow: 0px 0px 15px 0px black;
}

@keyframes glowing {
    0% {
      box-shadow: 0 0 2px 0px #fff;
    }
    50% {
      box-shadow: 0 0 2.5px 0px #fff, 0 0 20px 0px #fff, 0 0 2.5px 0px #fff;
    }
    100% {
      box-shadow: 0 0 2px 0px #fff;
    }
}

.ButtonGlowing {
    animation: glowing 3.5s infinite;
}

.flex {
    display: flex;
}

.gap-p5 {
    gap: .5rem;
}

.gap-p2 {
    gap: .2rem;
}

.simpleTextInput {
    border: none;
    height: 20px;
}

.simpleTextInput~button {
    height: 20px;
    padding: .0rem 1rem;
}

.LiveTag {
    position: absolute;
    padding: 0.25rem .25rem .125rem .25rem;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    gap: 0.25rem;
    background: grey;
    margin: 0.25rem;
    border-radius: 0.25rem;
}

.darkMode, .darkMode .darkModeEnforce {
    background: black;
    color: white;
}
  
.darkMode .darkModeEnforce .itemName {
    color: white !important;
}
  
.darkMode .darkModeHoverEnforce:hover,
.darkMode .darkModeHoverEnforce:hover div {
    color: lightgrey !important;
}
  
.darkMode .darkMenuLink {
    background: rgba(0,0,0,0) !important;
    border: 1px solid grey;
}
  
.darkMode .darkMenuLink:hover {
    background: rgb(35, 35, 35, 1) !important;
    border: 1px solid white;
}

.margin1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.leadMenuContainer~div {
    position: relative;
    top: 35px;
}

.dropMenu {
    position: absolute;
    right: 0;
    top: 33px;
    width: 200px;
}

.dropMenu ul {
    list-style: none;
    padding-left: 0;
    background: #313131;
}

.dropMenu ul li {
    text-align: right;
    padding: 0rem .5rem;
    font-size: .85rem;
    cursor: pointer;
}

.dropMenu ul li:hover {
    background: #363636;
}