.container {
    pre {
        margin: 0;
    }
}

.codeContainer {
    max-width: 100%;
    .quadrant2 {
        max-width: 100%;
        pre {
            margin: 0;
        }
    }
}

.menuContainer {
    display: flex;
    padding: 0 .5rem;
    margin: .25rem;
    margin-bottom: .5rem;
    gap: .5rem;
}

.companyLink, .menuContainer li {
    background: grey;
    padding: 0 .75rem;
    border-radius: .25rem;
    background: rgb(35, 35, 35, 1) !important;
    border: 1px solid rgb(145, 145, 145);
    cursor: pointer;
}

.companyLink:hover, .menuContainer li:hover {
    border: 1px solid white;
}

.companyLink {
    font-size: .85rem;
    font-weight: 700;
}

.codePre {
    border-radius: .5rem;
    margin: 0;
    background: #1e1e1e;
    padding: .5rem;
    white-space: pre-wrap;
    line-break: anywhere;
}

.text {
    white-space: pre-wrap;
}

.lead {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.mainContainer {
    width: 98%;
    display: grid;
    grid-template-columns: 15% 40% 45%;
    grid-gap: .5rem; /* Adjust gap between columns as needed */
}

.contentContainer {
    // margin-left: .5rem;
}

// .quadrant {
//     width: 65%;
// }

.quadrant2 {
    // width: 60%;
}

.menuList {
    font-size: .85rem;
    background: #171717;
    padding: .5rem 1rem;
    list-style: none;
    margin-top: 0;

    li {
        cursor: pointer;
        padding: .25rem .25rem;
    }
}

.activeSearchResults {
    position: absolute;
    border: 0px;
    border-radius: .5rem;
    width: calc(100% - 1rem);
    font-size: 1.25rem;
    padding: .5rem .5rem;
    margin: 0 .5rem;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #3f3f3f;
    background: rgba(0, 0, 0, .5);
    max-height: 50vh;
    overflow: auto;
}

.htmlParseContainer > div {
    display: flex;
    flex-direction: column;
}

.htmlParseContainer a {
    color: #ff6deb;
}

.tag, .tagSmall {
    border-radius: 1rem;
    padding: .0rem 1rem;
    width: min-content;
    border: 1px solid grey;
    font-size: .85rem;
    font-weight: 600;
    height: fit-content;
}

.tagSmall {
    padding: 0 .25rem;
    font-weight: 300;
    width: 20px;
    text-align: center;
    line-height: 1.125;
    padding-bottom: .125rem;
}

.tagUnmanaged {
    background: rgb(73, 59, 125);
    border: 1px solid #ff71ff;
}

.tagSimple, .tagEasy {
    background: #4fff97;
    color: black;
    border: 1px solid white;
}

.tagEasy {
    background: rgb(181, 255, 246);
}

.htmlParseContainer > div {
    display: flex;
    flex-direction: column;
}

.htmlParseContainer {
    h1, h2, h3, h4, h5 {
        margin: 0;
    }
}
