.changeImageButton,
.changeImageButtonSmall {
    opacity: .75;
    color: white;
    cursor: pointer;
    background: grey;
    position: absolute;
    right: .25rem;
    top: .25rem;
    z-index: 5;
}

.changeImageButton:hover,
.changeImageButtonSmall:hover {
    opacity: 1;
    background: black;
}

.changeImageButtonSmall {
    right: .15rem;
    top: .15rem;
    border-radius: .25rem;
    font-size: 1.35rem;
    opacity: .85;
}

.warning {
    position: absolute;
    top: 1.75rem;
    font-size: .7rem;
    width: 100%;

    .warningItemContainer {
        padding: .25rem;
        width: 100%;
        text-align: center;
        .warningItem {
            padding: .25rem;
            background: #ffffad;
            color: black;
            font-weight: 600;
            border: 1px solid grey;
        }
    }
}

.productImageContainer,
.productImageListThumbnailContainer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.productImageListThumbnailContainer {
    border: 1px solid grey;
}

.productImageListThumbnailContainer:hover {
    border: 1px solid black;
    outline: 1px solid white;
}

.productImageListContainer {
    position: absolute;
    z-index: 5;
    bottom: .25rem;
    left: .25rem;
    display: flex;
    gap: .25rem;
}