@tailwind base;
@tailwind components;
@tailwind utilities;

.menuContainer > ul {
  height: 100% !important;
}
.Index_Body,
.Privacy_Body,
.Terms_Body {
  top: 0 !important;
}
.Feature_featureExternalContainer__HMUAB {
  position: relative !important;
  margin-bottom: 32px;
}
.hero {
  background-image: url('/img/internal/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 43, 1) 81%,
    rgba(50, 50, 50, 1) 100%
  );
}

@media (max-width: 768px) {
  .hero-bg {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(37, 37, 43, 1) 81%,
      rgba(50, 50, 50, 1) 100%
    );
  }
}
