@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Archivo Black, helvetica, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
input {
  color: black;
}
.amin-heading {
  font-family: Archivo Black;
}

.Username_ContainerBg {
  background: none !important;
}

.Username_PromptContainer {
  align-items: start;
  gap: 20px;
}

.Username_PromptContainer > h4 {
  @apply pl-4;
}
.Username_PromptContainer > span {
  @apply w-screen lg:w-full flex flex-col px-4 gap-5 mx-auto;
}

.Username_PromptContainer > span > button {
  @apply bg-orange-700 px-2 rounded-md py-6 flex justify-center items-center text-black font-thin w-full;
}
.simpleTextInput {
  height: 48px;
  padding: 20px;
  color: black;
  border-radius: 6px;
  width: 100%;
}

@media (min-width: 900px) {
  .simpleTextInput {
    width: 400px;
  }
}

.marquee1,
.marquee2 {
  align-items: center;
}

.Ecommerce_Cart_Container {
  top: 69px !important;
}

.Ecommerce_Cart_Container > input {
  color: black !important;
}

.Ecommerce_Cart_Container input {
  color: black !important;
}

@media (max-width: 768px) {
  .glider_heading {
    margin-top: 0.25rem !important;
    text-wrap: wrap !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .hover\:blur:hover {
  filter: blur(1px);
} */

.menuContainer > ul {
  height: 100% !important;
}
.glide__slides {
  gap: 1rem !important;
}
.Index_Body,
.Privacy_Body,
.Terms_Body {
  top: 0 !important;
}
.Feature_featureExternalContainer__HMUAB {
  position: relative !important;
  margin-bottom: 32px;
}
.hero {
  background-image: url('/img/internal/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 43, 1) 81%,
    rgba(50, 50, 50, 1) 100%
  );
}

@media (max-width: 768px) {
  .hero-bg {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(37, 37, 43, 1) 81%,
      rgba(50, 50, 50, 1) 100%
    );
  }
}
