.leadContainer {
    grid-gap: 1.25rem;
    gap: 1.25rem;
    .col {
        -webkit-flex: 0 0 20%;
        flex: 0 0 20%;
        width: calc(100%/5 - 1rem);
        padding: 0;
        -webkit-flex-basis: auto;
        flex-basis: auto;
    }

    @media(max-width: 1576px) {
        .col {
            width: calc(100%/4 - .945rem);
        }
    }

    @media(max-width: 1148px) {
        .col {
            width: calc(100%/3 - .845rem);
        }
    }

    @media(max-width: 900px) {
        .col {
            width: calc(100%/2 - .645rem);
        }
    }

    @media(max-width: 448px) {
        .col {
            width: calc(100%);
        }
    }
}