// DEFAULT STYLES: for mobile. media queries are for larger screens

.upperText {
	font-size: .85rem;
}

.lead {
	font-size: 1.4rem;
	font-weight: 600;
}

.text {
	font-size: 1.2rem;
}

@media(max-width: 1000px) {
	.text {
		font-size: 1.125rem;
		line-height: 1.125rem;
	}
}

@media(max-width: 800px) {
	.text {
		font-size: 1.075rem;
	}
}

.contentSimpleItems {
	.itemContainer {
		width: 100%;
	}
}

.IndexItemUpperContainer {
	margin: 1rem;
	width: max-content;
}

.bgContainer {
	padding: 1rem;
	background-size: cover;
	height: 22rem;
	border-radius: 1rem;
	gap: .8rem;
    display: flex;
    flex-direction: column;
}

@media(max-width: 800px) {
	.bgContainer {
		height: auto !important;
	}
}

.IndexItemsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 640px) {
	.IndexItemsContainer {
		flex-direction: row;
	}
}


// .contentSimpleItems {
// 		.itemContainer {
// 			width: 100%;
// 		}
// 	}



@media (max-width: 900px) {
	.contentSimpleItems {
		flex-basis: 100%;
		
		.itemContainer {
			width: 50%;
		}
	}
}

.ContentSimple_Container {
    padding: 3rem;
}

.contentSimpleItems {
    display: flex;
    flex-wrap: wrap;
	flex-basis: 100%;
	flex-grow: 1;

	.itemContainer {
		img {
		width: 100%;
	}

	// flex-basis: 100%;
	flex-grow: 1;
	}	

}

.marketingTitle {
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 2rem;
    flex-basis: 100%;
}

.Marketing_Paragraph {
	font-size: 2rem;
	color: #8e8d8d;
	font-weight: 500;
}


.GroupLabelContainer {
	.GroupLabel {
		margin: 1rem;
		font-size: 1.5rem;
	}
}