.AdminPanel_Container {
    background: rgba(0, 0, 0, 0.75);
    border: 0px solid transparent;
    margin: .5rem;
    border-radius: .25rem;
    overflow: auto;
    height: 0px;
    transition: 600ms;
    margin-top: 0rem;
    position: fixed;
    right: 0;
    z-index: 20;
    min-width: 350px;
    max-width: 350px;
}


@media(max-width: 450px) {
    .AdminPanel_Container {
        min-width: 200px;
        max-width: 100vw;
    }
}

.AdminPanel_ContainerOpen {
    height: 90vh;
    border: 1px solid grey;
    box-shadow: inset 0 0 7.5px #5c5c5c;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

