.AdminPanel_Container {
    background: #353535;
    margin: .5rem;
    border-radius: .25rem;
    overflow: auto;
    height: 0px;
    transition: 600ms;
    margin-top: 0rem;
    position: fixed;
    right: 0;
    z-index: 20;
    min-width: 350px;
    max-width: 350px;
}


@media(max-width: 450px) {
    .AdminPanel_Container {
        min-width: 200px;
        max-width: 100vw;
    }
}

.AdminPanel_ContainerOpen {
    height: 90vh;
}