$background-grey-lighter: #f9f9f9;
$background-grey-lighter2: #eeeeee;
$background-inter-grey: #d9d9d9;
$background-grey: #ebebeb;
$background-inter-darker-grey: #e9e9e9;
$background-darker-grey: #bbbbbb;
$background-darker-grey2: #8f8f8f;
$background-darker-grey3: #696969;
$background-darker-grey4: #474747;
$background-darker-grey5: #383838;
$background-darkest-grey: #3a3a3a;
$background-blue: #4c99f1;
$background-blue-alt: #3584df;
$background-blue2: #63a9f8;
$background-purple: #d280e7;
$background-red: rgb(255, 67, 67); 
$background-yellow: #ffea9d;

$link: #406a89;
$off-grey: #4b4b4b;
$border-grey: #adadad;
$border-grey2: #c5c5c5;
$border-blue: #344b5c;


$purple-shadow: 0 0 0 1px #d280e7 inset, 0 0 0 1px rgb(205 58 232 / 15%) inset, 1px 2px 0px 0px rgb(210 78 236 / 70%), 2px 3px 0px 0px rgb(205 105 238 / 40%), 1px 1px 0px 0px rgb(224 105 238 / 50%);
$red-shadow: 0 0 0 1px #ff5151 inset, 0 0 0 1px rgb(205 58 232 / 15%) inset, 1px 2px 0px 0px rgba(236, 78, 78, 0.7), 2px 3px 0px 0px rgba(238, 105, 105, 0.4), 1px 1px 0px 0px rgba(241, 41, 41, 0.918);
$blue-shadow: 0 0 0 1px #45b3ff inset, 0 0 0 1px rgb(58 134 232 / 15%) inset, 1px 2px 0px 0px rgb(78 167 210 / 70%), 2px 3px 0px 0px rgb(105 194 238 / 40%), 1px 1px 0px 0px rgb(105 194 238 / 50%);
$blue-shadow2: 0 0 0 1px #77b7e9 inset, 0 0 0 1px rgb(28 68 120 / 15%) inset, 1px 2px 0px 0px rgb(126 170 191 / 70%), 2px 3px 0px 0px rgb(92 164 199 / 40%), 1px 1px 0px 0px rgb(118 149 165 / 50%);
$blue-shadow2-hover: 0 0 0 1px #dcf2ff inset, 0 0 0 1px rgb(28 68 120 / 15%) inset, 1px 2px 0px 0px rgb(126 170 191 / 70%), 2px 3px 0px 0px rgb(92 129 147 / 40%), 1px 1px 0px 0px rgb(118 149 165 / 50%);
$inter-grey-shadow: 0 0 0 1px #bbbbbb inset, 0 0 0 1px rgb(141 141 141 / 15%) inset, 1px 2px 0px 0px rgb(167 167 167/ 70%), 2px 3px 0px 0px rgb(194 194 194 / 40%), 1px 1px 0px 0px rgb(105 105 105 / 50%);
$yellow-shadow: 0 0 0 1px #ffea9d inset, 0 0 0 1px rgba(240, 236, 142, 0.15) inset, 1px 2px 0px 0px rgb(210 206 78 / 70%), 2px 3px 0px 0px rgb(236 238 105 / 40%), 1px 1px 0px 0px rgb(238 234 105 / 50%);

$blue-button-border: 0.1rem solid #75c3ff;
$grey-button-border: 0.1rem solid #c5c5c5;

$error-red: red;
$error-bg: #ffe3e3;


$error-dotted-border: 1px dotted $error-red;