.Ecommerce_Cart_Container {
    position: absolute;
    right: -400px;
    z-index: 10;
    top: 2.4rem;
    width: 350px;
    max-width: 100vw;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 7.5px #5c5c5c;
    border: 1px solid grey;
    transition: 100ms;
    line-height: 1.5rem;
    height: -moz-fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, .5);
    font-size: 1.25rem;
    backdrop-filter: blur(10px);
}

.Ecommerce_Cart_Container_Visible {
    right: .5rem;
}

@media (max-width: 640px) {
    .Ecommerce_Cart_Container {
        width: calc(100% - 1rem);
        right: -680px;
    }
    .Ecommerce_Cart_Container_Visible {
        right: .5rem;
    }
}

.Ecommerce_Item_Container {
    background: #222222;
    padding: .25rem;
    border-radius: .125rem;
}

.Ecommerce_Item_Image_Container {
    background-size: contain;
    width: 100px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.Ecommerce_Cart_Internal_Container {
    padding: 0 0.5rem;
}

.Ecommerce_Prompt {
    font-size: .8rem;
}

.Ecommerce_Cart_Quantity_Container {
    display: flex;
    width: max-content;
    font-size: .75rem;
    background: #4c4c4c;
    padding: .125rem;
    border-radius: .125rem;
    margin-bottom: .25rem;
    height: fit-content;
}

.Ecommerce_Cart_Quantity_Container input {
    font-size: .75rem;
}

.Ecommerce_Cart_Title_Main_Container {
    justify-content: space-between;
    border-bottom: 1px solid #3d3d3d;
    margin-bottom: .25rem;
}

.Ecommerce_Title,
.Ecommerce_Price {
    text-align: right;
    font-weight: 600;
    margin: .25rem 0;
}

.Ecommerce_Cart_Side_Meta_Container,
.Ecommerce_Cart_Price_Container {
    width: 115px;
    overflow: auto;
}

.Ecommerce_Cart_Container button {
    font-size: 1.5rem;
    padding: .25rem 0;
}