.Editor_Platform {
    color: black;
    background: white;
    max-height: 65vh;
    overflow: auto;
    .ql-editor {
        min-height: 300px;
        padding: .25rem;
    }
    .ql-clipboard {
        position: absolute;
        top: -10000px;
    }
}

.Editor_Container {
    max-height: 60vh;
    .ql-toolbar {
        background: white;
        .ql-formats {
            button {
                border-radius: 0;
            }
            button:hover {
                border: 1px solid grey;
            }
        }
    }
}

.Editor_MaxWidth {
    max-width: 1200px;
}

@media (max-width: 840px) {
    .Editor_MaxWidth {
        width: 100%;
    }
}