.Invoice_Container pre {
    margin: 0;
}

.Invoice_Container .survey_pipelineItemContainer {
    display: flex;
    gap: 1rem;
}

.Invoice_Container .survey_itemContainer {
    padding: 0;
}

.Invoice_Container .survey_inputContainer {
    width: 100%;
}

.Invoice_Container label {
    min-width: 150px;
}

@media(max-width: 640px) {
    .Invoice_Container .survey_pipelineItemContainer {
        display: block;
    }
}

.invoiceMatrix_ExternalContainer {
    overflow: auto;
}

.Invoice_Container pre {
    font-family: 'Larsseit', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

.Invoice_form_print {
    display: flex;
}

.InvoiceMatrix_Container {
    width: -webkit-fill-available;
}

.InvoiceMatrix_Container input {
    min-width: 35px;
    max-width: max-content;
}

@media(max-width: 1400px) {
    .Invoice_form_print {
        display: block;
    }
    .Invoice_details_matrix {
        width: 225px;
    }
}