.Misc_Container {
    position: absolute;
    right: -400px;
    z-index: 10;
    top: 2.4rem;
    width: 350px;
    max-width: 100vw;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 7.5px #5c5c5c;
    border: 1px solid grey;
    transition: 250ms;
    height: -moz-fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, .5);
    font-size: 1.25rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-height: 90vh;
    overflow: auto;
}

.Misc_Container_Bigger {
    width: 500px;
    right: -550px;
}

.Misc_Container_Visible {
    right: .5rem;
}

@media (max-width: 640px) {
    .Misc_Container {
        width: calc(100% - 1rem);
        right: -680px;
    }
    .Misc_Container_Visible {
        right: .5rem;
    }
}

.Misc_Item_Container {
    background: #222222;
    padding: .25rem;
    border-radius: .5rem;
}

.Misc_Item_Container {
    background: #222222;
    padding: .25rem;
    border-radius: .5rem;
}

.Misc_Internal_Container {
    padding: 0 0.5rem;
}

.Misc_Label {
    margin: .5rem 0;
}

.Misc_P {
    font-size: .9rem;
}

.Misc_Icon_Button {
    cursor: pointer;
	border-radius: 1rem;
	padding: .125rem;
}

.Misc_Icon_Button:hover {
	background: grey;
}