.ProfilePage_ProfileName {
    font-size: 1.5rem;
    font-weight: 600;
}

.ProfilePage_ProfileContainer {
    max-width: calc(100vw - 175px);
}

.ProfilePage_Icon {
    height: 85px;
    width: 85px;
    border-radius: 100%;
}
