.ProfilePage_ProfileName {
    font-size: 1.5rem;
    font-weight: 600;
}

.ProfilePage_MetaContainer {
    display: flex;
    gap: 1rem;
}

.ProfilePage_Icon {
    height: 85px;
    width: 85px;
    border-radius: 100%;
}
