.itemsContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    .item {
        cursor: pointer;
        margin: 0;
        font-size: .9rem;
        padding: .125rem .5rem;
        border-radius: .25rem;
        background: linear-gradient(to top right, #282828, #1a1a1a,#141414, #000000);
        color: white;
    }

    .activeItem {
        background: linear-gradient(to top right, #f371ff, #fd42d7,#ff0000, #ff0000);
    }
}