.Item_GhostMetaItemContainer .Item_GhostMetaContainer {
    opacity: 0;
}

.Item_GhostMetaItemContainer:hover .Item_GhostMetaContainer {
    transition: 100ms;
    opacity: 1;
}

.Item_GhostMeta {
    position: absolute;
    bottom: 0;
    font-size: .8rem;
    width: -webkit-fill-available;
    margin: .5rem
}

.Item_GhostMetaContainerInternal {
    background: rgb(128, 128, 128, .75);
    padding: .25rem;
}

.Item_TinyMetaText {
    font-size: .7rem;
}