@import 'appstyles/cart.scss';

.Ecommerce_PurchaseButton {
  border-radius: 6px;
  background: var(--Color-Amber-600, rgba(221, 104, 26, 1));
  padding: 10px 0 !important;
  cursor: pointer !important;

  &:hover {
    background-color: unset;
    box-shadow: unset;
    border: unset !important;
    background: var(--Color-Amber-600, rgba(221, 104, 26, 1)) !important;
    opacity: 0.8;
  }
}

.Ecommerce_Cart_Container {
  background: var(--Color-Neutral-900, rgba(23, 23, 23, 1)) !important;
  height: fit-content !important;
  top: 80px !important;
  position: static !important;
  box-shadow: unset !important;
  gap: 3rem !important;
  font-family: lexend !important;
  max-width: 1000px;

  @media (max-width: 768px) {
    padding: 1rem !important;
  }
}
#watchPage .Ecommerce_Cart_Container {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
}
.Ecommerce_Layout_Data_Container {
  justify-content: space-between;
  gap: 3rem !important;
}

.Ecommerce_Layout_Data_Container .Ecommerce_Layout_OrderSummary {
  border-radius: 8px !important;
  max-width: 400px;
  min-width: 400px;
  @media (max-width: 768px) {
    width: 100% !important;
  }
}

// .Ecommerce_Cart_Container button {
//   @apple
// }

input[type='text'],
.InputElement,
.Ecommerce_CreditCard_FullNameInput_Default {
  border-color: rgba(82, 82, 82, 1) !important;
  color: white !important;
  padding: 0.75rem 0.75rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  background-color: rgba(38, 38, 38, 1) !important;
  border-radius: 6px !important;
  height: 2.25rem !important;
  width: 100% !important;
}

.Ecommerce_Cart_Container .SignIn_OauthContainer,
.Ecommerce_Cart_Container .SignIn_Separator {
  display: none;
}

button {
  border-radius: 4px;
  // background-color: rgba(221, 104, 26, 1) !important;
  // padding: 0.5rem 0.5rem !important;
}

.Ecommerce_Layout_Data_Container {
  @media (max-width: 768px) {
    flex-direction: column-reverse !important;
    width: fit-content !important;
  }
}

.Ecommerce_Cart_Container_Visible {
  @media (max-width: 768px) {
    width: 90vw;
  }
}

.WatchPage_videoExternalContainer__YRQWM {
  gap: 20px;
}
.WatchPage_chatContainer__fsRZx {
  border: none !important;
}
.Chat_chatContainer__MeuU_ {
  border-radius: 20px !important;
  border-width: 1px !important;
  border-color: rgba(82, 82, 82, 1);
  // padding: 1rem !important;
  // padding-top: 1.5rem !important;
}
#watch-quad {
  height: 100% !important;
}
.Chat_chatLogExternalContainer__lxHAd {
  border: none;
}
.Chat_textChatInput__W9u4j {
  height: 100% !important;
}
.WatchPage_videoPlayer__53LUC {
  // border-radius: 20px;
}

.no-scrollbar::-webkit-scrollbar {
  -webkit-scrollbar: hidden;
}

/* SURVERY FORM */
.Survey_currentItem__z2NUZ {
  padding: 0 !important;
}
.Survey_currentItem__z2NUZ textarea {
  @apply bg-dashFg text-black p-2 font-sans;
}
.Survey_title__I1MFz {
  margin-bottom: 2rem;
}
.Survey_currentItem__z2NUZ input[type='datetime-local'] {
  @apply bg-dashFg text-black w-full p-2 font-sans;
}

.Survey_currentItem__z2NUZ label {
  @apply font-sans;
}
.Ecommerce_Cart_Container button {
  @apply dark:bg-accentY;
}
textarea {
  height: 100% !important;
}
.Chat_chatInputSendContainer__NYfht {
  padding: 10px 10px 3px !important;
  border-top-width: 1px;
  border-color: rgba(82, 82, 82, 1);
}

.ar_Body {
  top: 0 !important;
}

.simpleTextInput {
  height: 48px;
  padding: 20px;
  color: black;
  border-radius: 6px;
  width: 100%;
}
.Internal_devContainer__OSO0m {
  display: none !important;
}

@media (min-width: 900px) {
  .simpleTextInput {
    width: 400px;
  }
}

.marquee1,
.marquee2 {
  align-items: center;
}

@media (max-width: 768px) {
  .carousel-image {
    background-position: center;
  }
}

.Ecommerce_Cart_Container > input {
  color: white;
}

.Ecommerce_Cart_Container input {
  color: white;
}

@media (max-width: 768px) {
  .glider_heading {
    margin-top: 0.25rem !important;
    text-wrap: wrap !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.glow-text {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}
.transparent-text {
  color: transparent;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .hover\:blur:hover {
  filter: blur(1px);
} */

.glow-text span {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.menuContainer > ul {
  height: 100% !important;
}
.glide__slides {
  gap: 1rem !important;
}
.Index_Body,
.Privacy_Body,
.Terms_Body {
  top: 0 !important;
}
@media (max-width: 678px) {
  .WatchPage_videoQuadrant__MgFxK {
    height: 177px !important;
  }
}

.Feature_featureExternalContainer__HMUAB {
  position: relative !important;
  /* margin-bottom: 32px; */
}
.hero {
  /* background-image: url('/img/internal/bg.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-bg {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 43, 1) 81%,
    rgba(50, 50, 50, 1) 100%
  );
}

@media (max-width: 768px) {
  .hero-bg {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(37, 37, 43, 1) 81%,
      rgba(50, 50, 50, 1) 100%
    );
  }
}

.Ecommerce_Item_Container,
.Ecommerce_CreditCard_Container {
  background: none;
}
.Ecommerce_Cart_Quantity_Container {
  max-width: fit-content !important;
}

.Ecommerce_Item_Image_Container {
  max-height: 40px !important;
  background-position: center !important;
  width: fit-content !important;
}
.list-view {
  @apply space-y-4;
}
// .WatchPage_chatOpen__sOXqv {
//   width: 100%;
//   max-width: 100%;
// }

@media (max-width: 900px) {
  .WatchPage_chatOpen__sOXqv {
    min-width: 100%;
    width: 100% !important;
    max-width: 100% !important;
  }
}

.Chat_chatMessageAvatarContainer___pZsU img {
  border-radius: 50% !important;
  margin-right: 0.5rem;
}

.dialog-btn {
  bottom: auto !important;
}
button {
  bottom: auto !important;
}

button:hover {
  box-shadow: none;
  outline: none;
}

#article-content img {
  max-width: 400px;
  margin: 0.5rem auto;
}

@media (max-width: 678px) {
  #article-content img {
    max-width: 350px;
  }
}

#article-content h3 {
  font-size: 1.5rem;
}
