// Platform  theme

// Background
$base_bg: #000;
$secondary_bg: #222222;
$tertiary_bg: #353535;
$mid_bg: #808080;

$invert_bg: #fff;
$invert_secondary_bg: #cfcfcf;

// Interactive
$base_border: #808080;
$light_border: #afafaf;
$bright_border: #dfdfdf;
$dark_border: #2d2d2d;

$active_type: #afafaf;

$social_interactive_25_bg: rgba(100, 167, 255, 0.25);
$social_interactive_50_bg: rgba(100, 167, 255, 0.50);
$social_interactive_75_bg: rgba(100, 167, 255, 0.75);
$social_interactive_bg: rgba(100, 167, 255, 1);

$social_interactive_bg_invert: rgb(138, 222, 255);
$social_interactive_bg_invert_activate: rgb(65, 201, 255);

// Type
$base_type: #fff;
$half_type: #b1b1b1;
$mid_type: #808080;
$off_type: #5c5c5c;

$invert_type: #000;

$social_type: #67cfff;

// Shadow
$base_shadow: #5c5c5c;
$secondary_shadow: #414141;
$mid_glow: #999999;
