.author {
    font-weight: 600;
}

.icon {
    border-radius: 50%;
	background-color: #4b4b4b;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	font-size: 3rem;
	aspect-ratio: 1 / 1;
	width: 2.5rem;
	height: 2.5rem;
}

.notifContainer {
    padding: .275rem;
    border-radius: .5rem;
}

.notifInternalContainer {
    display: flex;
    justify-content: space-between;
    background: transparent;
    transition: 200ms;
    border-radius: .5rem;
    padding: 0 .25rem;
}

.notifContainer:hover {
    background: #222222;;
}

.notifProduct {
    display: flex;
}

.detailContainer {
    display: flex;
    gap: .25rem;
}

.notifBox {
    background: #404040;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
    position: relative;
}

.notifImageContainer {
    background-size: cover;
    width: 75px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .5rem;
}

.notifTimeAgo {
    font-weight: 400;
    font-size: .85rem;
    margin: 0;
    margin-left: 1rem;
    margin-top: .25rem;
    color: #e3e3e3;
}

.productName, .simpleClip {
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}